@charset "utf-8";

.container{
    width: 1200px;margin: 0 auto
}


/* header  */
#header{}
.headerTopWrap{background-color: #75db4e;}

.headerTop .collWrap{float: left;}
.headerTop .collWrap li{float: left;width: 120px;background: #1e672c;font-size: 14px;margin-right: 2px;}
.headerTop .collWrap li a{color:#fff;display: block;line-height: 40px;text-align: center;}
/* .headerTop .collWrap li a:hover{background-color: #fff;color:#000} */
.headerTop .collWrap li:hover{background: #fff;}
.headerTop .collWrap li:hover a{color:#000}

.headerTop .collWrap li.active{background: #fff;}
.headerTop .collWrap li.active a{color:#000}


.headerTop .utilWrap{float: right;}
.headerTop .utilWrap li{float: left;font-size: 14px;}
.headerTop .utilWrap li>a{
    color:#fff;display: block;height: 40px;padding: 0 10px;
    display: flex;justify-content: center;align-items: center;
}
.headerTop .utilWrap li:nth-child(2){padding-top: 10px;}
.headerTop .utilWrap li:nth-child(2) a{
    width: 20px;height: 20px;background-color: #fff;color:#000;
    float: left;margin-right: 1px;
}

.headerBottom{height: 115px;}
.LOGO{float: left;padding: 30px 0px;}
.menuWrap{float: right;}
.menuWrap li{float: left;font-size: 19px;}
.menuWrap li>a{display: block;height: 120px;padding: 10px 30px;
    display: flex;justify-content: center;align-items: center;}
.ikon{float: left;}

/* section  */
#section{
    padding: 70px 0;
    /* height: 1300px; */
    /* background-color: blue; */
    background-image: url(../images/dot.png),url(../images/main_bg1.jpg);
    background-repeat: repeat,no-repeat;
    background-position: center;
    background-size: auto,cover;
}
#section .sec1st{height: 140px;margin-bottom: 50px;}
#section .sec1st h3{color: #fff;font-size: 40px;}
#section .sec1st h1{color: #fff;font-size: 60px;}
#section .sec1st .menu li{color: #fff;float: right;margin-top:-109px;padding: 0 10px;}
#section .sec1st .menu li p{text-align: center;padding: 10px 0;}




.visual .txtWrap .txt{position: absolute;top: 30%;}
        .visual .txtWrap h3{font-size: 80px ;color: #fff;}
        .visual .txtWrap a{
            display: inline-block;background-color:#1e672c;
            padding: 10px 20px;color: #fff;
        }

    

#section .sec2st>ul>li{float: left;width: 300px;height: 225px;}

#section .sec2st>ul>li{background: white;}
#section .sec2st>ul>li:nth-child(2n){background-color:pink;}

#section .sec2st>ul>li:nth-child(1){width: 900px;height: 450px;background-image: url(../images/slide01.png);position: relative;}
#section .sec2st>ul>li:nth-child(1) .txtWrap{position: absolute; padding: 80px 80px;color:white;}
#section .sec2st>ul>li:nth-child(1) .txtWrap h3{font-size: 60px;line-height: 80px;margin-bottom: 30px;}
#section .sec2st>ul>li:nth-child(1) .txtWrap a{ background-color: #1e672c; 
    color: #fff; border: 1px
    font-size: 14px; padding: 10px 30px;cursor:pointer}



.bx-wrapper {
    -moz-box-shadow: 0 0 0 #ccc;
    -webkit-box-shadow: 0 0 0 #ccc;
    box-shadow: 0 0 0 #ccc;
    border: 0 none;
    margin-bottom: 0;
}

.bx-wrapper .bx-pager{
    bottom: 30px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active, 
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #1e672c;
}

.prev,.next{position: absolute;top: 60%;margin-top: -60px;cursor:pointer}
.next{right: 0;}

#section .sec2st>ul>li:nth-child(2){height: 450px;background-image: url(../images/skun2.png);padding: 20px;}
#section .sec2st>ul>li:nth-child(2) .textWrap{ padding: 40px 0 ;}
#section .sec2st>ul>li:nth-child(2) .textWrap h2{font-size: 40px;}
#section .sec2st>ul>li:nth-child(2) .textWrap h3{padding: 20px 0; line-height: 30px;}
#section .sec2st>ul>li:nth-child(2) .buttonWrap{display: flex;justify-content: center;}
#section .sec2st>ul>li:nth-child(2) button{ background-color: rgb(0, 0, 0);
                                            opacity: 0.5;color: #fff; border: 1px solid #fff;
                                            font-size: 14px; padding: 10px 30px;cursor:pointer
                                              }



#section .sec2st>ul>li:nth-child(3){background-color: #1e672c;padding:20px;}
#section .sec2st>ul>li:nth-child(3) h3{margin-bottom: 20px;color: #ffffff;}
#section .sec2st>ul>li:nth-child(3) .ikon {padding: 10px;}
#section .sec2st>ul>li:nth-child(3) .ikon li{float: left;float: left;padding: 10px 11px;}
#section .sec2st>ul>li:nth-child(3) .ikon li p{color: #ffffff;text-align: center; padding: 10px 0;font-size: 14px;}





#section .sec2st>ul>li:nth-child(4){padding:20px;background-image: url(../images/skun3.jpg);}
#section .sec2st>ul>li:nth-child(4) h3{margin-bottom: 20px;color: #1e672c;}
#section .sec2st>ul>li:nth-child(4) .bar{height: 3px;background-color: #fff;margin-bottom: 20px;}
#section .sec2st>ul>li:nth-child(4) .notice{font-size: 14px;}
#section .sec2st>ul>li:nth-child(4) .notice p{
    width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#section .sec2st>ul>li:nth-child(4) .notice li{
    background-image: url(../images/notice_icon.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    margin-bottom: 10px;
}
#section .sec2st>ul>li:nth-child(4) .notice li a{text-indent: 7px;display: block;position: relative;}
#section .sec2st>ul>li:nth-child(4) .notice li span{display: block;position: absolute;right: 0;top: 0;}


#section .sec2st>ul>li:nth-child(5){background-color: #fff;padding:20px;}
#section .sec2st>ul>li:nth-child(5) h3{margin-bottom: 20px;color: #1e672c;}
#section .sec2st>ul>li:nth-child(5) .newsWrap {padding: 8px 0;}
#section .sec2st>ul>li:nth-child(5) .newsWrap img{float: left;margin-right: 20px;}
#section .sec2st>ul>li:nth-child(5) .newsWrap p{font-size: 14px;color: #585858;}
#section .sec2st>ul>li:nth-child(5)  .sns li{float: right;padding: 20px 0;}


#section .sec2st>ul>li:nth-child(6){ background-image: url(../images/skun5.png);} 
#section .sec2st>ul>li:nth-child(6):hover{transform:translate(-5px,-5px);
                                          box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
                                          ;transition:0.3s; }

#section .sec2st>ul>li:nth-child(6) .box{width: 300px;height: 51px;background-color: rgb(0, 0, 0);
                                         opacity: 80%;margin-top: 175px;}
#section .sec2st>ul>li:nth-child(6) .box h3{color: #fff;text-align: center;padding:13px;}
#section .sec2st>ul>li:nth-child(6):hover .box {background-color: #1e672c;}


#section .sec2st>ul>li:nth-child(7){background-image: url(../images/skun6.png);}
#section .sec2st>ul>li:nth-child(7) .playButton  {width: 60px;height: 60px;background-color: rgb(0, 0, 0); 
                                          opacity: 80%; margin: 0 auto; margin-top: 90px;border-radius: 50%;
                                          display: flex;justify-content: center;align-items: center;}
#section .sec2st>ul>li:nth-child(7):hover .playButton{background-color: #1e672c;}

#section .sec2st>ul>li:nth-child(8){width: 900px;background-image: url(../images/slide03.png);}


footer p{font-size: 14px; line-height: 30px;color: #9d9d9d;
    display: flex;justify-content: center;align-items: center; padding: 20px; }
